.todo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.todo-main {
    background-color: #F6F8F9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    padding: 0;
    width: 100%;
    max-width: 500px;
}

.todo-task {
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.todo-header {
    background: linear-gradient(to left, #87ceeb, #4682b4);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding: 1.25rem;
    color: white;
    text-align: center;
}